<div id="book">
  <div id="summary-control">
	<div id="collapse" onclick="collapseNav()">&#10094;</div>
	<div id="expand" onclick="expandNav()">&#10095;</div>
  </div>
  
  <div id="book-summary">
	<!-- get the chapter set and post set -->
	<!--chapter set--> 
    <% mainCategory = page.categories.toArray()[0] %>
	<a id="back-home" href="/"><h1><%- mainCategory.name %></h1></a>
	<!-- get all chapters in this category -->
	<% chapters = new Set(); %>
	<% posts = new Set(); %>
	<% site.posts.forEach(function(post){ %>
		<% post.categories.forEach(function(category){ %>
			<% if(category.name == mainCategory.name){ %>
				 <% chapters.add(post.chapter) %>
				 <% posts.add(post) %>
			<% } %>
		<% }) %>
	<% }) %>
	
	<ul class="chapter-list">
		<li class="chapter">
			<% chapters.forEach(function(chapter){ %>
				<a>
					<strong><%- chapter %></strong>
				</a>
				<!-- add section(post) -->
				<ul class="section-list">
					<% posts.forEach(function(post){ %>
						<% if(post.chapter == chapter){ %>
							<li class="section <% if(page.path==post.path){%> active <%} %>"><a href="/<%- post.path %>"><%- post.title %></a></li>
						<% } %>	
					<% }) %>
				</ul>
			<% }) %>
		</li> 
		
	</ul>
  </div>
  
  <!--book title + book content-->
  <div id="book-container">
	<div id="book-body">
	  <div id="book-content">
		<div id="book-title">
		  <h1><%- page.title %></h1>
		</div>
		<div id="article-content">
			<p><%- page.content %></p>
		</div>
	  </div>
	  <div id="top-arrow" title="TOP">&#10094;</div>
	  <a href="" class="navigation navigator-prev" title="">&#10094;</a>
	  <a href="" class="navigation navigator-next" title="">&#10095;</a>  
	</div>
  </div>
</div>