<div id="book">
  <div id="summary-control">
	<div id="collapse" onclick="collapseNav()">&#10094;</div>
	<div id="expand" onclick="expandNav()">&#10095;</div>
  </div>
  <!--chapter list--> 
  <div id="book-summary">
    <% mainCategory = page.categories.toArray()[0] %>
	<a id="back-home" href="/"><h1><%- mainCategory.name %></h1></a>
	<ul class="chapter-list">
		<li class="chapter">
			<a>
				<strong></strong>
			</a>
		</li> 
		<ul class="section-list">
			<% site.posts.forEach(function(post){ %>
				<% post.categories.forEach(function(category){ %>
					<% if(category.name == mainCategory.name){ %>
						<li class="section"><a href="/<%- post.path %>"><%- post.title %></a></li>
					<% } %>
				<% }) %>
			<% }) %>
		</ul>
	</ul>
  </div>
  
  <!--book title + book content-->
  <div id="book-container">
	<div id="book-body">
	  <div id="book-content">
		<div id="book-title">
		  <h1><%- page.title %></h1>
		</div>
		<div id="article-content">
			<p><%- page.content %></p>
		</div>
	  </div>
	  <div id="top-arrow" title="TOP">&#10094;</div>
	  <a href="" class="navigation navigator-prev" title="">&#10094;</a>
	  <a href="" class="navigation navigator-next" title="">&#10095;</a>  
	</div>
  </div>
</div>